.first_img img
{
    position: relative;
    height: 50%;
    width: 100%;
    border-radius: 0px 0px 70px 70px;
}
.logo {
    width: 127px;
    z-index:1;
    position: relative;
    color: #0A5190;
    top: -1093px;
    left: 618px;
    font-size: 18px;
    font-weight: 600;
}
.fmsg
{
    position: relative;
    width: 80%;
    height: 100px;
    top: -184px;
    left: 8px;
    border-radius: 50px 0px 50px 0px;
}
.smsg
{
    position: relative;
    background-color:cyan ;
    font-size: 30px; 
    color: white; 
    font-weight:900;
    left: 10px;
    top: -192px;
    width: 70%; 
    height:50px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.about_sec img 
{
    position: relative;
    top: -188px;
    left: 118px;
}
.about_sec p
{
position: relative;
top: -178px;
left: 122px;
}
.about_sec p:nth-child(2)
{
    position: relative;
    top: -212px;
}
.about_sec p:nth-child(3)
{
    position: relative;
    top: -222px;
    width: 523px;
}
.bottom_left
{
    position: relative;
    top: -232px;
    width: 664px;
}
.bottom_left p:nth-child(1)
{
    position: relative;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    color: #0A5190;
    font-size: 22px;
}
.bottom_left p:nth-child(2)
{
    position: relative;
    left: 558px;
    top: -27px;
    color: #0A5190;
    font-size: 22px;
}
div.d-flex img:nth-child(1)
{
    position: relative;
    width: 75px;
}
.hline
{
    position: relative;
    top: -279px;
}
.contact_us
{
    color: #0A5190;
    position: relative;
    top: -19rem;
    left: 6rem;
}
.contact_us img
{
}