.first_img img
{
    position: relative;
    height: 50%;
    width: 100%;
    border-radius: 0px 0px 70px 70px;
}
.logo {
    z-index:1;
    position: relative;
    color: blue;
    top: -1093px;
    left: 618px;
    font-size: 18px;
    font-weight: 600;
}
.fmsg
{
    position: relative;
    width: 80%;
    height: 100px;
    top: -184px;
    left: 8px;
    border-radius: 50px 0px 50px 0px;
}
.smsg
{
    position: relative;
    background-color:cyan ;
    font-size: 30px; 
    color: white; 
    font-weight:900;
    left: 10px;
    top: -192px;
    width: 70%; 
    height:50px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.about_sec img 
{
    position: relative;
    top: -188px;
    left: 118px;
}
.about_sec p
{
position: relative;
top: -178px;
left: 122px;
}
.about_sec p:nth-child(2)
{
    position: relative;
}
